# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=mw8duas2
NEXT_PUBLIC_SANITY_DATASET=production

# API Token (for server-side fetching and previews)
SANITY_API_READ_TOKEN=your-read-token

# Revalidation webhook secret
SANITY_REVALIDATE_SECRET=your-webhook-secret
